.container {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 24px;
  padding: 24px;

  & > *:nth-child(1) {
    max-width: 266px;
    min-width: 266px;
    width: 100%;

    @media (max-width: 768px) {
      max-width: 100%;
    }
  }

  & > *:nth-child(2) {
    max-width: 100%;
    width: 100%;
  }

  @media (max-width: 768px) {
    flex-wrap: wrap;
  }
}
