.card {
  overflow: hidden;
  border-radius: 18px;
  background: var(--color-white);
  box-shadow: 0px 10px 13px -4px var(--shadow);
  cursor: pointer;
  animation: fadeIn 0.3s;

  &:hover .imageContainer {
    scale: 1.1;
  }
}

.tag {
  padding: 12px 18px 18px 18px;
}

.imageBg {
  display: flex;
  justify-content: center;
  padding: 9px 16px;
}

.imageContainer {
  max-width: 144px;
  max-height: 144px;
  width: 100%;
  transition: 0.3s ease-in-out;
}

.image {
  object-fit: cover;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
